<div class="page-header">
    <h1>Her er en lille API Docs</h1>

    <?php echo $this->tag->linkTo("", "Tilbage til start siden"); ?>

    <br><br>

    <ul>
        <li>Her kan du få user-info.
        <br>/api/user/:action/*(:id)

            <ul>
                <li>:action
                    <ul>
                        <li>get*
                            <ul>
                                <li>id</li>
                            </ul>
                        </li>
                        <li>post
                            <ul>
                                <li>name</li>
                                <span>og</span>
                                <li>email</li>
                            </ul>
                        </li>

                        <li>put
                            <ul>
                                <li>id</li>
                                <span>og</span>
                                <li>name</li>
                                <span>og/eller</span>
                                <li>email</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>*(:id)
                    <ul>
                        <li>Ethvert nummer af typen `integer`</li>
                    </ul>
                </li>
            <ul>
        </li>
    </ul>
</div>
