<?php

echo "<h1>Velkommen til min side!</h1>";

echo 'Her kan du oprette dig<br>';

echo $this->tag->linkTo("signup", "Opret dig som bruger!");

echo '<br><br>Se også vores API<br>';

echo $this->tag->linkTo("api", "Gå til vores api!");
